{
  "$schema": "https://raw.githubusercontent.com/can1357/oh-my-pi/main/packages/coding-agent/src/config/mcp-schema.json",
  "mcpServers": {
    "gh_grep": {
      "type": "http",
      "url": "https://mcp.grep.app"
    },
    "doc-md-indexer": {
      "type": "stdio",
      "command": "@AGENT_HOME@/.venvs/doc-md-indexer/bin/python",
      "args": ["@AGENT_DATA_ROOT@/mcps/doc-md-indexer/index.py"],
      "env": {
        "MD_INDEXER_ROOT": "@AGENT_DATA_ROOT@/DOCS"
      }
    }
}
